.stup-bacva {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #cc9900;
}

.stup-bacva-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #cc9900;
}

.stup-jela {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #009933;
}

.stup-jela-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #009933;
}

.stup-dunav {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #0066ff;
}

.stup-dunav-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #0066ff;
}

.stup-portal {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #cc0000;
}

.stup-portal-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #cc0000;
}

.stup-y {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #ff6666;
}

.stup-y-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #ff6666;
}

.stup-macka {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

.stup-macka-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.stup-dvostruka-jela {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #009933;
}

.stup-dvostruka-jela-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #009933;
}

.stup-dvostruki-portal {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #cc0000;
}

.stup-dvostruki-portal-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #cc0000;
}

.stup-dvostruka-macka {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

.stup-dvostruka-macka-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.stup-dvostruki-y {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 10px;
  color: #ff6666;
}

.stup-dvostruki-y-detailed {
  -webkit-animation: fadein 1s;
  cursor: pointer;
  font-size: 15px;
  color: #ff6666;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
