.list {
  width: fit-content !important;
  padding-top: 25px !important;
}

.list-item-image {
  justify-content: center !important;
  padding: 20px;
}

.list-item {
  height: fit-content !important;
  padding: 10px !important;
}
