.spojna-tocka-izolatora {
  -webkit-animation: fadein 0.5s;
  font-size: 10px;
  color: blue;
}

.spojna-tocka-vodica {
  -webkit-animation: fadein 0.5s;
  font-size: 10px;
  color: red;
}

.spojna-tocka-zastitnog-uzeta {
  -webkit-animation: fadein 0.5s;
  font-size: 10px;
  color: orange;
}

.popup {
  width: auto;
}

.popup-text {
  font-size: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
